node_modules
pnpm-lock.yaml
.tool-versions
*.txt
*result.json
*attachment.png
*attachment.json
*container.json
*service.log
*worker-data*.json
funnelData.json
*.png
app.js
index.js
*.json
*.csv
*.html
*.css
*.ico
*.log